@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 100px;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=date], textarea, button, select {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

input[type=radio] {
    visibility: hidden;
}

label.active {
    font-weight: bold;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

li ul {
    padding: 20px;
    border-radius: 10px;
    background: #cbcbcb;
    margin: 20px;
}

li ul img {
    display: block;
    max-width: 75px;
    padding: 10px;
}

.loading {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 8px;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h3.location {
    margin-top: 50px;
}

.weather-card {
    margin: 5px;
    width: 300px;
    background: #fff;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.weather-card .top {
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    text-align: center;
}

.weather-card .top .wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
}

.weather-card .top .wrapper .heading {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.weather-card .top .wrapper .date {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
}

.weather-card .top .wrapper .temp {
    margin-top: 20px;
}

.weather-card .top .wrapper p {
    color: #fff;
}

.weather-card .top .wrapper .temp .temp-type {
    color: #fff;
    font-size: 85px;
}

.weather-card .top .wrapper .temp .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: #fff;
}

.weather-card .top .wrapper .temp .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    vertical-align: top;
    margin-top: 10px;
}

.weather-card .top:after {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.weather-card.rain .top {
    background-size: cover;
    background-position: center center;
}
