<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Weather Forecast</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="WeatherForecast" ng-controller="MainController as main">
    <div class="container">
        <form action="/" name="forecastForm" ng-submit="main.getForecast( $event )" novalidate>
            <div class="form-group">
                <label for="inputLocation"><span class="lnr lnr-magnifier"></span> Search Location</label>
                <input type="text" class="form-control" name="location" id="inputLocation" ng-model="main.location" placeholder="Search Location" ng-model-options="{ debounce: 250 }">
                <div class="loader" ng-if="main.loading"><div class="loading"></div> <span>Searching..</span></div>
                <div class="no-results" ng-if="!main.suggestions.length && forecastForm.location.$dirty && main.location.length && !main.loading">No results found for '{{ main.location }}' :/</div>
            </div>

            <div class="form-group" ng-if="main.suggestions.length">
                <label for="city-and-state">City and state</label>
                <select class="form-control" id="city-and-state" name="location_chosen" ng-model="main.location_chosen" ng-disabled="main.loading" ng-options="item as item.full for item in main.suggestions   "></select>
            </div>

            <div ng-if="main.location_chosen">
                <div class="form-group" ng-if="main.mode === 'forecast'">
                    <label for="inputDays" ng-class="{'has-error': !forecastForm.days.$valid}"><span class="lnr lnr-calendar-full"></span> How many days from now?</label>
                    <input type="number" name="days" ng-model="main.days" placeholder="Days" class="form-control" id="inputDays" max="10" min="1" ng-max="10" ng-min="1">
                </div>

                <div class="form-group" ng-if="main.mode === 'history'">
                    <label for="inputDate"><span class="lnr lnr-calendar-full"></span> Choose past date</label>
                    <input type="date" ng-model="main.date" placeholder="Date" class="form-control" id="inputDate" max="2017-10-10">
                </div>

                <div class="radio">
                    <label for="inputDate"><span class="lnr lnr-select"></span> Choose mode</label>
                    <br>
                    <label ng-class="{'active': main.mode === 'forecast'}"><input type="radio" name="mode" value="forecast" ng-model="main.mode"><span class="lnr lnr-picture"></span> Forecast</label>
                    &nbsp;&nbsp;&nbsp;
                    <label ng-class="{'active': main.mode === 'history'}"><input type="radio" name="mode" value="history" ng-model="main.mode"><span class="lnr lnr-history"></span> History</label>
                </div>

                <button type="submit" class="btn btn-primary"><span class="lnr lnr-cloud"></span> Forecast</button>
            </div>
        </form>
    </div>

    <div class="container" ng-if="main.forecast !== null && main.location_chosen !== null && main.suggestions.length">
        <h3 class="location">Weather in {{ main.location_chosen.full }}</h3>
        <div class="row">
            <div class="col" ng-repeat="day in main.forecast">
                <div class="weather-card one">
                    <div class="top" ng-style="{'background-image':'url({{day.weather_icon}})'}">
                        <div class="wrapper">
                            <h1 class="heading">{{ day.description | state }}</h1>
                            <h3 class="date">{{ day.date | shortdate }}</h3>
                            <p class="temp">
                                <span class="temp-value">{{ day.max_temp }}</span>
                                <span class="deg">0</span>
                                <span class="temp-type">C</span>
                            </p>
                            <p>{{ day.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>